{{define "profile"}}
<!doctype html>
<html lang="en" class="w-full h-full font-inter">
    <head>
        <title>Geddit</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="/static/index.css" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css?family=Inter"
            rel="stylesheet"
        />
        <script src="/static/htmx.js" type="text/javascript"></script>
    </head>
    <body class="w-full h-full">
        <main class="flex flex-col items-center pt-20">
            <p>{{.Username}}</p>
            <p>{{.Email}}</p>
        </main>
    </body>
</html>
{{end}}
